*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
body{
    background-color:#EEEDEB;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 
  }
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
  }
.container{
    width:450px;
    height:450px;
    background-color: #E6B9A6;
    border:none; 
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}           
.calculator{
    margin: 20px;
    padding: 10px;
    width:400px;
    height:400px;
    background-color: #939185;
    border:none; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
button{
    width:110px;
    height:110px;
    background-color: #2F3645;
    border:none;
    border-radius: 10px;
    color: #EEEDEB;
    cursor: pointer;
}

#msg{
    color:#939185;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.msg-container{
    height: 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.hide{
    display: none;
}
